div{
    text-align: center;
    width: 400px;
    height: 300px;
    background-color: blueviolet;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}