/* div  p{
    background-color: yellow;
} */
 /* div > p{
    background-color: yellow;
} */
 /* div + p{
    background-color: yellow;
} */
 div ~ p{
    background-color: yellow;
}

.card{
    width: 100px;
    height: 100px;
    padding: 30px;
    background-color: aqua;
}

.card::after{
    content: "hello";
}
.card::before{
    content: "my";
}
::marker{
    color: red;
    font-size: larger;
    background-color: blueviolet;
}